{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head class="light-mode">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  </head>
  <body class="light-mode">
    <!-- Start Background  -->
    <div class="video-bg">
      <video width="320" height="240" autoplay loop muted>
        <source src="https://assets.codepen.io/3364143/7btrrd.mp4"
          type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div><!-- End Background -->
    <!-- Start Dark - light  -->
    <div class="dark-light">
      <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5"
        fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
      </div><!-- End Dark - light -->
      <!-- Start Content App  -->
      <div class="app">
        <!-- Start Header -->
        <div class="header">
          <!-- Start logo -->
          <div class="logo">
            <img src="{% static 'images/logo3.png' %}" alt="">
          </div><!-- End logo -->
          <!-- Start Header links -->
          <div class="header-menu">
            <a class="menu-link " href="{% url 'home' %}">Home</a>
            <a class="menu-link" href="{% url 'advice' %}">Advice</a>
            <a class="menu-link" href="{% url 'book' %}">Booking</a>
            <a class="menu-link " href="{% url 'caregivers' %}">Caregivers</a>
          </div><!-- End header links -->
          <!-- Start Search -->
          <div class="search-bar">
            <input type="text" placeholder="Search">
          </div><!-- End Search -->
          <!-- Header icon , Profile -->
          <div class="header-profile">
            <!-- Start notifiaction -->
            <!-- Start profile doctor -->
            <img class="profile-img" src="{% static 'images/dr2.png' %}" alt="">
          </div><!--  End Header icon , Profile -->
        </div> <!-- End Header -->
        <!-- Start Content -->
        <div class="wrapper">
          <!-- Start Left Side -->
          <div class="left-side">
            <!-- Start Side - wrapper 1  -->
            <div class="side-wrapper">
              <!-- Start Doctor -->
              <div class="side-title">Doctor</div>
              <!-- Start Side- menu -->
              <div class="side-menu">
                <a href="#">
                  <i class="fas fa-user" id="icon"></i>profile
                </a>
                <a href="{% url 'messages' %}">
                  <i class="fab fa-facebook-messenger" id="icon"></i>Messages
                </a>
              </div><!-- End side menu-->
            </div><!-- End wrapper 1 -->
            <!-- Start Side - wrapper 2  -->
            <div class="side-wrapper">
              <div class="side-title">Diagnosis</div>
              <div class="side-menu">
                <a href="{% url 'survey' %}">
                  <i class="fas fa-poll-h" id="icon"></i>Survey
                </a>
                <a href="{% url 'image' %}">
                  <i class="fas fa-camera-retro" id="icon"></i>image
                </a>
                <a href="#">
                  <i class="fas fa-eye" id="icon"></i>Eye Tarcking
                </a>
                <a href="{% url 'logo' %}">
                  <i class="fas fa-sign-out-alt" id="icon"></i>Logout
                </a>
              </div><!-- End side menu-->
            </div><!-- End Side - wrapper 2 -->
          </div><!-- End Left Side-->
          <!-- Start content-wrapper -->
          <div class="content-wrapper ">
            <!-- Start content-wrapper-header -->
            <div class="content-wrapper-header ">
              <!-- Start  Slides -->
              <h1>My Profile</h1>
              <button class="info-card__btn2" @click="updateDoctorProfile">Save
                <i class="fas fa-arrow-right"></i>
              </button>
            </div><!-- End content-wrapper-header -->
            <!-- Start content-section 1-->
            <div class="content-section ">
              <!-- Cryptocurrencies section -->
              <div class="cryptocurrencies-info-cards2 row container">
                <div class="info-card2 col-lg-6 col-sm-12 ">
                  <div class="profile">
                    <div class="head2">
                      <img src="{% static 'images/dr2.png' %}" alt="">
                      <i class="far fa-edit"></i>
                    </div><!-- End head-->
                    <div class="contnet-profile">
                      <form @submit.prevent="getDoctorProfile" class="contact-form">
                        <div class="fail">
                          <div class="form-group ">
                            <label for="myInputField" >First Name </label>
                            <input type="text" class="form-control input"
                              id="first_name1"  >
                            <div class="underline"></div>
                          </div><!-- one -->
                          <div class="form-group last ">
                            <label for="myInputField" class="" >Last Name</label>
                            <input type="text" class="form-control input "
                              id="last_name1"  placeholder="" >
                            <div class="underline"></div>
                          </div><!-- two  -->
                        </div>
                        <div class="form-group ">
                          <label for="myInputField" >Password</label>
                          <input  type="password" required
                            class="form-control input " 
                            placeholder="" />
                          <div class="underline"></div>
                        </div><!-- three  -->
                        <div class="form-group">
                          <label for="myInputField" class="">Email</label>
                          <input type="email" required class="form-control
                            input"  id="email1" placeholder=" ">
                          <div class="underline"></div>
                        </div><!-- four -->
                        <div class="form-group">
                          <label for="myInputField" class="">Phone Number</label>
                          <input type="phone" class="form-control input"
                             id="phone1" placeholder='' >
                          <div class="underline"></div>
                        </div><!-- five -->
                        <div class="form-group">
                          <label for="myInputField" class="">Address</label>
                          <input type="address" class="form-control input"
                             id="address1" placeholder=" " >
                          <div class="underline"></div>
                        </div><!-- Six -->
                        <div class="form-group ">
                          <label for="myInputField" >Data of Birth</label>
                          <input type="date" required="required" id="date_of_birth1" >
                          <div class="underline"></div>
                        </div><!-- Seven -->
                      </form>
                    </div><!-- End contnet-profile -->
                  </div><!-- End profile -->
                </div>
                <div class="info-card2 col-lg-6 col-sm-12 ">
                  <div class=" datials">
                    <form class="contact-form" onsubmit="getDoctorProfile">
                      <div class="fail2">
                        <div class="form-group">
                          <label for="profile-picture" class="">Profile Picture</label>
                          <input type="file" class="form-control input"  ref="profilePicture" @change="onProfilePictureChange">
                        </div>
                        <div class="form-group2">
                          <label for="myInputField" class="">Gander</label>
                          <select name="gender" id="gender1" class=" gander" >
                            <option value="">Gander</option>
                            <option value="Male">Male</option>
                            <option value="female">Female</option>
                          </select>
                          <div class="underline"></div>
                        </div><!-- one -->
                      </div>
                      <div class="form-group2">
                        <label for="price" class="">Price of Booking</label>
                        <input type="text" class="form-control input nation"
                           name="nation" placeholder=" " id="price1" >
                        <div class="underline"></div>
                      </div>
                    </form>
                  </div><!-- End datials -->
                  <div class="form-group2 payment ">
                    <h4>Appointments available</h4>
                    <label for="Date">Date</label>
                    <input type="text"  name="date" class="inputEl"/>
                    <button class="book">Add </button>
                    <ul class="listEl">
                    </ul>
                  </div><!-- five -->
                  <div class="form-group2 payment2 ">
                    <label for="Date">Hours</label>
                    <input type="text" id="date" name="date" class="inputEl2"/>
                    <button class="book2">Add </button>
                    <ul class="listEl2">
                    </ul>
                  </div><!-- five -->
                </div>
              </div><!-- Cryptocurrencies section-->
            </div><!-- End content-section3-->
            <!-- Start Footer -->
            <div class="content-section">
              <footer class="mainfooter" role="contentinfo">
                <div class="footer-middle">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                          <h4>Home</h4>
                          <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#">Survey</a></li>
                            <li><a href="#">Photo</a></li>
                            <li><a href="#">Eye Tracking</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Messages</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                          <h4>Service</h4>
                          <ul class="list-unstyled">
                            <li><a href="#">Autistic</a></li>
                            <li><a href="#">Treatment</a></li>
                            <li><a href="#">Booking</a></li>
                            <li><a href="#">Advice</a></li>
                            <li><a href="#">Caregivers</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                          <h4>technology</h4>
                          <ul class="list-unstyled">
                            <li><a href="#">Bootstrap</a></li>
                            <li><a href="#">jquery</a></li>
                            <li><a href="#">AOS</a></li>
                            <li><a href="#">RestFul</a></li>
                            <li><a href="#">Django</a></li>
                            <li>
                              <a href="#"></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <ul class="social-network social-circle">
                          <li><a
                              href="https://www.facebook.com/profile.php?id=100086924003453&mibextid=ZbWKwL"
                              class="icoFacebook" title="Facebook"><i class="fab
                                fa-facebook-f"></i></a></li>
                          <li><a href="https://youtube.com/@caregivers8979"
                              class="icoYoutube" title="Youtube"><i class="fab
                                fa-youtube"></i></a></li>
                          <li><a
                              href="https://instagram.com/_caregivers?igshid=YmMyMTA2M2Y="
                              class="iconInstgram" title="Instagram"><i
                                class="fab fa-instagram"></i></a></li>
                        </ul>
                        <ul class="social-network2 social-circle2">
                          <li><a href="caregivers2023@gmail.com"
                              class="icoEmail" title="Email"><i class="fas
                                fa-envelope"></i></a></li>
                          <li><a href="01147660749" class="icoPhone"
                              title="Phone"><i class="fas fa-phone-alt"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2023 - <span>Kholoud
                            Elsherbeny</span> . All rights reserved.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div><!-- End footer -->
          </div><!-- End  content-wrapper -->
        </div><!-- End Wrapper-->
      </div><!-- End Content App -->
      <!-- links of javacript -->
      <script src="https://unpkg.com/vue@3.2.22/dist/vue.global.js"></script>
      <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/swiper.min.js' %}"></script>
      <script src="{% static 'js/profile.js' %}"></script>
    </body>
  </html>